:root{
    --fg-color: #d0d0d0;
    --bg-color: #1c1c1c;
    --hightlight-color: #5f8787;
    --border-color: #585858;
}


body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: 0px;
    font-family: 'JetBRains Mono', monospace;
}

.application {
    padding: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.title_bar {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    border: var(--border-color) solid;
    border-width: 0px 0px 1px 0px;
    height: 30px;
}

.title_bar_button {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: none;
    margin: 2px 5px 2px 5px;
    font-size: 16px;
    cursor: pointer;

}
.title_bar_button:hover {
    color: var(--hightlight-color)    
}

.main_window {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#action_bar {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    background-color: var(--bg-color);
    padding: auto;
    align-items: center;
    border: var(--border-color) solid;
    border-width: 0px 1px 0px 0px
}

.action_button_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;

}

.config_button_group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%
}

.action_button {
    height: 50px;
    background-color: transparent;
    color: var(--fg-color);
    box-shadow: none;
    outline: none;
    border: none;
} 

.action_button:hover {
    color: var(--hightlight-color);
}
.status_line {
    height: 25px;
    display: flex;
    background-color: var(--bg-color);
    color: var(--fg-color);
    padding-left: 5px;
    padding-right: 5px;
    justify-content: right;
    border: solid var(--border-color);
    border-width: 1px 0px 0px 0px;
}

.action_button .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    position: absolute;
    z-index: 1;
    transition: 0s;
}


.action_button:hover .tooltip {
    visibility: visible;
    transition-delay: 1s;
}

.sub_window {
    display: flex;
    flex-direction: row;
    width: 100%
}

.document_window {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.document_background {
    text-align: center;
    height: 100%;
    justify-content: center;
}
.ribbon {
    background-color: red;
    height: 100px;
}

#text_ribbon {
    display: none;
}

#math_ribbon {
    display: none;
}

#graph_ribbon {
    display: none;
}

#code_ribbon {
    display: none;
}

.title_bar_dropdown {
    display: none;
    background-color: var(--bg-color);
    color: var(--fg-color);
    position: absolute;
    z-index: 1;
    border: var(--border-color) solid 2px;
}

.title_bar_dropdown_items {
    padding: 10px;
    font-size: 16px;
    display: block;
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: none;
}

.title_bar_dropdown_items:hover {
    color:var(--hightlight-color)
}